.fieldset {
  margin: 0 auto; 
  border: 2px solid #000000;
  padding: 20px;
  background-color: #f8f6f6;
  border-radius: 10px;
  width: 80%;
  max-width: 300px;
  height: auto; 
  box-sizing: border-box;
}

.hih,
.wtf {
  background-color: green;
  color: #f8f6f6;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  width: 100%;
  max-width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}
.error {
  color: red;
}


@media (max-width: 600px) {
  .fieldset {
      width: 90%;
      padding: 15px;
  }

  .hih,
  .wtf {
      font-size: 0.9rem;
      max-width: 100%;
  }
}